.sensor__expanded {
  width: 95%;
  height: 400px;
  border: thin black solid;
  margin: auto;
  display: flex;
}

.sensor__expanded__map {
  width: 400px;
}

.sensor_expanded_table_container {
  width: 80%
}
