.expanded__sensor__table {
  //layouit
  display: flex;
  justify-content: space-around;
  align-items: center;

  //border
  border: thin solid black;
  margin: auto;

  width: 95%;

  //text
  font-size: $s-size;
  font-weight: 500;
}

.expanded__sensor__table__item {
  width: 11%;
  margin-left: 1rem;
}

