.no__alert__message {
    font-size: 4rem;
    padding: 2rem 0 0 2rem;
    color: grey;
}

.details__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: white;
}

.details__graph__container{
    min-height: 60%;
    flex-grow: 1;
}

.details__notes__container{
    width: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.notes__container{

}

.notes__header{
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.add__notes__button{
    font-size: 1.5rem;
}

.details__notes__item__container{
    display: flex;
    border-bottom: thin solid grey
;}

.details__notes__item{
    width: 100%;
    font-size: 1.5rem;
    margin: 1rem 3rem 1rem 1rem;
}

.notes__title{
    text-align: center;
}

.details__title{
    margin: auto;
    padding: 2rem 0;
}

.details__text{
    margin: 0 0 0 1rem;
    font-size: 2rem;
}

