.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-grey;
  color:#4f5154;
  padding: 2rem;
  text-align: left;
  max-height: 80rem;
  max-width: 50%;
  border: none;
}

.modal__notes__div {
  max-height: 50rem;
  overflow-y: auto;
  overflow-x: auto;
  border: thin solid grey;
  flex-grow: 1;
}

.modal__notes__input {
  display: flex;
  max-height: 20%;
  padding: 1rem;
  
}

.modal__text__area {
  flex-grow: 1;
}

.modal__button {
  height: 3rem;
  flex-grow: 1;
}

.modal__buttons__div{
  display: flex;
  font-size: 2rem
}

.modal__title {
  text-align: center;
  margin: auto;
  font-size: 4rem;
}